<div id="header">
  <h1>North Houston Dermatology</h1>
  <%= link_to "New Patient", new_patient_path %>
  <%= link_to "Schedule Appointment", scheduleappt_scheduleappointment_path %>
  <%= link_to "Cancel Appointment", appointments_cancelappointment_path%>
</div>
<br>
<div class="breadcrumb">
  <%= link_to "Home", home_dermatologyhome_path %> <span class="divider">/</span>
  Patient Home
</div>