<%= form_for(@diagnostic_code) do |f| %>
  <% if @diagnostic_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diagnostic_code.errors.count, "error") %> prohibited this diagnostic_code from being saved:</h2>

      <ul>
      <% @diagnostic_code.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Code_Num %><br>
    <%= f.text_field :Code_Num %>
  </div>
  <div class="field">
    <%= f.label :Code_Description %><br>
    <%= f.text_area :Code_Description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
