<div id="header">
  <h1>North Houston Dermatology</h1>
</div>
<br>
<div class="breadcrumb">
  <%= link_to "Home", home_dermatologyhome_path %> <span class="divider">/</span>
  <%= link_to "System Admin Home", adminhome_administrator_path %> <span class="divider">/</span>
  Change Diagnostic Code
</div>
<br>
<p id="notice"><%= notice %></p>

<h1>Listing Diagnostic Codes</h1>



<table>
  <thead>
    <tr>
      <th>Code num</th>
      <th>Code description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diagnostic_codes.each do |diagnostic_code| %>
      <tr>
        <td><%= diagnostic_code.codenum %></td>
        <td><%= diagnostic_code.codedescription %></td>
        <td><%= link_to 'Show', diagnostic_code %></td>
        <td><%= link_to 'Edit', edit_diagnostic_code_path(diagnostic_code) %></td>
        <td><%= link_to 'Destroy', diagnostic_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @diagnostic_codes %>
<br>
<%= link_to 'New Diagnostic code', new_diagnostic_code_path %>
