<p id="notice"><%= notice %></p>

<p>
  <strong>Code num:</strong>
  <%= @diagnostic_code.Code_Num %>
</p>

<p>
  <strong>Code description:</strong>
  <%= @diagnostic_code.Code_Description %>
</p>

<%= link_to 'Edit', edit_diagnostic_code_path(@diagnostic_code) %> |
<%= link_to 'Back', diagnostic_codes_path %>
