<div id="header">
  <h1>North Houston Dermatology</h1>
</div>
<br>
<div class="breadcrumb">
  <%= link_to "Home", home_dermatologyhome_path %> <span class="divider">/</span>
  <%= link_to "System Admin Home", adminhome_administrator_path %> <span class="divider">/</span>
  Change Physician
</div>
<br>
<p id="notice"><%= notice %></p>

<h1>Listing Physicians</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @physicians.each do |physician| %>
      <tr>
        <td><%= physician.name %></td>
        <td><%= link_to 'Show', physician %></td>
        <td><%= link_to 'Edit', edit_physician_path(physician) %></td>
        <td><%= link_to 'Remove', physician, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Physician', new_physician_path %>
