<div id="header">
  <h1>North Houston Dermatology</h1>
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @physician.name %>
</p>

<p>
  <strong>Appointment Date:</strong>
  <%= @physician.appointments.each do |appointment| %>
  <%= appointment.appointment_date%><br>
  <% end %>
</p>

<p>
  <strong>Appointment Cost:</strong>
  <%= @physician.appointments.each do |appointment| %>
      <%= appointment.appointmentcost%><br>
  <% end %>
</p>

<%= link_to 'Back', adminhome_administrator_path %>
