<div id="header">
  <h1>North Houston Dermatology</h1>
  <%= link_to "Home", home_dermatologyhome_path%>
  <%= link_to "Patient", patienthome_home_path %>
  <%= link_to "Physician", physicianhome_physicianhome_path %>
  <%= link_to "Office Worker", appointments_officeworker_path %>
  <%= link_to "System Admin", adminhome_administrator_path %>
</div>

<div id ="welcome">
<h2 id = "welcome-message" >North Houston Dermatology believes in providing patients with reliable care in all
Dermatology care.</h2>
</div>

