<div id="header">
  <h1>North Houston Dermatology</h1>
  <%= link_to "Physician Report", appointments_path %>
  <%= link_to "Change Physician Information", physicians_path %>
  <%= link_to "Change Diagnostic Code", diagnostic_codes_path %>
</div>
<br>
<div class="breadcrumb">
  <%= link_to "Home", home_dermatologyhome_path %> <span class="divider">/</span>
  System Admin Home
</div>
<br>