<div id="header">
  <h1>North Houston Dermatology</h1>
</div>
<br>
<div class="breadcrumb">
  <%= link_to "Home", home_dermatologyhome_path %> <span class="divider">/</span>
  Physician Home
</div>
<br>
<p id="notice"><%= notice %></p>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Appointment Date</th>
    <th>Patient</th>
    <th>Reason</th>
    <th>Notes</th>
    <th>Diagnostic Code</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.physician.name %></td>
        <td><%= appointment.appointment_date %></td>
        <td><%= appointment.patient.name %></td>
        <td><%= appointment.reason %></td>
        <td><%= appointment.notes %></td>
        <td><%= appointment.diagnostic_code_id %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
      </tr>
  <% end %>
  </tbody>
</table>