<div id="header">
  <h1>North Houston Dermatology</h1>
</div>
<br>
<div class="breadcrumb">
  <%= link_to "Home", home_dermatologyhome_path %> <span class="divider">/</span>
  <%= link_to "Patient Home", patienthome_home_path %> <span class="divider">/</span>
  Cancel Appointment
</div>
<br>
<table>
  <thead>
  <tr>
    <th>Patient Name</th>
    <th>Appointment Date</th>
    <th>Physician Name</th>
    <th>Reason</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.patient.name %></td>
        <td><%= appointment.appointment_date %></td>
        <td><%= appointment.physician.name %></td>
        <td><%= appointment.reason %></td>
        <td><%= link_to 'Remove', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
