// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header {

  background-color: dodgerblue;
  padding: 20px;
  font-size: 16pt;

  a {
    color: white;
    &:hover {
      color:yellow;
      background-color: dodgerblue;
    }
  }

}

h1.fancy {
  color: darkgreen;
  text-decoration: underline;
}
h1.centered {
  text-align: center;
}


div#welcome {
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  text-align: left;
  width: 40%;
}

#some-element {

  display: none;
  font-size: 10px;
  margin-top: 10px;
  padding: 5px;
  color:green;

}

#some-div:hover #some-element {
  display: block;
  color:green;
}

.bold-blue {
  color:blue;
  font-weight:bold;
  text-decoration:underline;
}

#notice {
  color:green;
}
