<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= yield :before_content %>
    <p>
      <strong>Patient:</strong>
      <%= @appointment.patient.name %>
    </p>

    <p>
      <strong>Physician:</strong>
      <%= @appointment.physician.name %>
    </p>
    <p>
      <strong>Reason:</strong>
      <%= @appointment.reason %>
    </p>
    <p>
      <strong>Appointment date:</strong>
      <%= @appointment.appointment_date %>
    </p>
  <div class="field">
    <%= f.label :diagnostic_code_id %><br>
    <%= f.collection_select :diagnostic_code_id,DiagnosticCode.all,:id,:codenum %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes, :size => "30x10" %>
  </div>
    <div class="field">
      <%= f.label :appointmentcost %><br>
      <%= f.text_field :appointmentcost %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
