<div id="header">
  <h1>North Houston Dermatology</h1>
</div>
<br>
<div class="breadcrumb">
  <%= link_to "Home", home_dermatologyhome_path %> <span class="divider">/</span>
  <%= link_to "System Admin Home", adminhome_administrator_path %> <span class="divider">/</span>
  Physician Report
</div>
<br>
<p id="notice"><%= notice %></p>

<h1>Listing Appointments</h1>

<table>
  <thead>
    <tr>
      <th>Physician</th>
      <th>Appointment Date</th>
      <th>Appointment Cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.physician.name %></td>
        <td><%= appointment.appointment_date %></td>
        <td><%= number_to_currency(appointment.appointmentcost) %></td>
        <td><%= link_to 'Report', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

