<%= form_for(@appointment) do |f| %>
    <% if @appointment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

          <ul>
            <% @appointment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <strong>Appointment date:</strong>
      <%= @appointment.appointment_date %>
    </p>
    <p>
      <strong>Patient:</strong>
      <%= @appointment.patient.name %>
    </p>
    <p>
      <strong>Physician:</strong>
      <%= @appointment.physician.name %>
    </p>
    <p>
      <strong>Diagnostic code:</strong>
      <%= @appointment.diagnostic_code_id %>
    </p>
    <div class="field">
      <%= f.label :appointmentcost %><br>
      <%= f.text_area :appointmentcost %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

