<div id="header">
  <h1>North Houston Dermatology</h1>
</div>
<br>
<div class="breadcrumb">
  <%= link_to "Home", home_dermatologyhome_path %> <span class="divider">/</span>
  Office Worker Home
</div>
<br>
<table>
  <thead>
  <tr>
    <th>Appointment Date</th>
    <th>Patient</th>
    <th>Physician</th>
    <th>Diagnostic Code</th>
    <th>Appointment Cost</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.appointment_date %></td>
        <td><%= appointment.patient.name %></td>
        <td><%= appointment.physician.name %></td>
        <td><%= appointment.diagnostic_code.codenum rescue "" %></td>
        <td><%= number_to_currency(appointment.appointmentcost) %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
      </tr>
  <% end %>
  </tbody>
</table>