<table>
  <tr>
    <th>Physician Name</th>
    <th>Appointment Date</th>
    <th>Appointment Cost</th>
  </tr>
  <tr>
    <td><%= @appointment.physician.name %></td>
    <td><%= @appointment.appointment_date %></td>
    <td><%= number_to_currency(@appointment.appointmentcost) %></td>
  </tr>
</table>

<%= link_to 'Home', home_dermatologyhome_path %>


